*,*::after,*::before {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* font-family: 'Roboto', sans-serif; */

html { 
  background: url(img/iron-cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




.wrapper{
    margin: 100px auto;
    width: 70vw;
    height: 75vh;
    font-family: 'Roboto', sans-serif;
    

}

.top-container {
    background-color: #1C1C21;
    height: 15%;
    background-image: linear-gradient(to right ,#1C1C21,#363642 );
    
}

.middle-container {
    display: flex;
    width: 100%;
    height: 70%;
 
    
}

.left-container{
    width: 6%;
    background-color: #1C1C21;
    background-image: linear-gradient(to right ,#1C1C21,#1E1E24);
    display:flex;
    flex-direction: row;
    writing-mode: vertical-rl;
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 0.5em;
    text-transform: uppercase;
    /* padding-top: 5%;
    padding-bottom: 5%; */
}

.fa-circle {
font-size: 4px;    
}
.left-container div {
    transform: rotate(180deg);
}

.left-container div:first-child{
    color: #E03D24;
}


.center-left-container{
    width: 34%;
    background: #ffffff;
    /* padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%; */
    display: flex;
    justify-content:flex-end;

}

.center-right-container{
    width: 54%;
    background: url(img/iron-wraper.jpg);
    background-size: cover;
    /* padding-top: 5%;
    padding-bottom: 5%; */
    display: flex;


}

.right-container {
    width: 6%;
    background-color: #33333E;
    background-image: linear-gradient(to right,#33333E,#363642 );

}
.bottom-container {
    background-color: #1C1C21;
    height: 15%;
    background-image: linear-gradient(to right ,#1C1C21,#363642 );

}

.header-container {
    height: 100%;
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    color: #ffffff;
    font-size: 2vh;
    justify-content: space-between;
    align-items: center;

}

.header-container img {
    width: 8vw;
    height: 5vh;
}


.header-container div {
    color: #56555E;
}


.center-left-textcontainer{
    /* background:aquamarine; */
    display: flex;
    position: relative;
    flex-basis: 60%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    justify-content: space-between;
    flex-direction: column;
  
}

.line-container {
    width:20%;
    border-top: #E03D24 6px solid;
    position: absolute;
    top:-15%;
}

.name-left {
    text-transform: uppercase;
    font-weight: bold;
    color: #E03D24;
    font-size: 10vh;
}

.hero-number{
    font-size: 2vh;
    color:grey;
}

.hero-number span{
    font-weight: bold;
    font-size: 3vh;
    color:grey;
}

.hero-description {
    border-top: 1px solid grey;
    font-size: 1vh;
    color:grey;
}






/* RIGHT SECTION "MAN" */
.name-right {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    font-size:10vh;
    text-align: center;

}



.center-right-textcontainer {
    
    /* background: peachpuff; */
    flex-basis: 50%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
   

}

.center-right-buttoncontainer {
    flex-basis: 50%;
    background: pink;
    margin-top: 10vh;
    margin-bottom: 10vh;
}